<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.data.csm.mapper.CsSmsRecordMapper">
  <resultMap id="BaseResultMap" type="com.sms.data.csm.model.CsSmsRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sms_number" jdbcType="INTEGER" property="smsNumber" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,create_time,sms_number,user_id
  </sql>
  <insert id="insertCsSmsRecord">
    insert into t_cs_sms_record(sms_number,user_id,create_time) values (#{csSmsRecord.smsNumber},#{csSmsRecord.userId},#{csSmsRecord.createTime})
  </insert>
</mapper>