<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.data.csm.mapper.CsSmsMapper">
  <resultMap id="BaseResultMap" type="com.sms.data.csm.model.CsSms">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="send_content" jdbcType="VARCHAR" property="sendContent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,user_id,phone,template_code,send_content,remark,create_time,send_time
  </sql>
  <insert id="insertCsSms">
    insert into t_cs_sms(user_id,phone,template_code,send_content,remark,create_time,send_time)
    values (#{csSms.userId},#{csSms.phone},#{csSms.templateCode}
    ,#{csSms.sendContent},#{csSms.remark},#{csSms.createTime},#{csSms.sendTime})
  </insert>
</mapper>