<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>用户登录</title>

<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<div id="container">
	<div id="output">
		<div class="containerT">
			<h1>用户登录</h1>
			<form class="form">
				<input type="text" placeholder="用户名" id="csPhone" />
				<input type="password" placeholder="密码" id="csPwd" />
				<button type="button" onclick="login()" id="entry_btn">登录</button>
				<div id="prompt" class="prompt"></div>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/vector.js"></script>
<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
</script>

<script type="text/javascript">
	function login() {
		$.ajax({
			type: "POST",
			dataType: "json",
			url: '/csUser/login',
			contentType: "application/json",
			data:JSON.stringify({
				"csPhone" : $("#csPhone").val(),
				"csPwd" : $("#csPwd").val()
			}),
			success: function (result) {
				console.log("result is :" + result);
				if (result.data!=null) {
					alert("登陆成功");
					window.location.href = "/csSkip/toSms";
				}else {
					alert("用户名或密码错误");
				}
			},error: function () {
				alertLayer("获取数据失败", "error");
			}
		});
	}
</script>
</body>
</html>