<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="wrap">
            <header><em>合作</em><span>短信平台</span></header>
            <article>
                <section>
                    <aside>
                        <em>
                            <img src="/img/user.png">
                        </em>
                         <form action="" method="post">
                            <p class="name"><i></i><input type="text" id="csPhone" name="csPhone" class="userName" placeholder="请输入手机号"></p>
                            <p class="password"><i></i><input type="password" id="csPwd" name="csPwd" class="pwd" placeholder="请输入密码"></p>
                            <button type="button" onclick="login()">登录</button>
                            <p class="remember"></p>
                            <p class="regist"><span>没有账号?</span><a href="/csSkip/toRegist">立即注册</a></p>
                            <div class="clear"></div>
                        </form>
                    </aside>

                </section>
            </article>
        </div>
    </div>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".name input").focus(function(){
                $(this).prev("i").css({"background-image":"url(/img/user2.png)"});
            });
            $(".name input").blur(function(){
                $(this).prev("i").css({"background-image":"url(/img/user1.png)"});
            });
            $(".password input").focus(function(){
                $(this).prev("i").css({"background-image":"url(/img/password2.png)"});
            });
            $(".password input").blur(function(){
                $(this).prev("i").css({"background-image":"url(/img/password1.png)"});
            });
        });
    </script>

    <script type="text/javascript">
        function login() {
            var csPhone = $("#csPhone").val();
            var csPwd = $("#csPwd").val();
            if (csPhone.length < 1||csPwd.length < 1){
                alert("用户名或密码不能为空");
            }else{
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/csUser/login',
                    contentType: "application/json",
                    data:JSON.stringify({
                        "csPhone" : csPhone,
                        "csPwd" : csPwd
                    }),
                    success: function (result) {
                        console.log("result is :" + result);
                        if (result.data!=null) {
                            alert("登陆成功");
                            window.location.href = "/csSkip/toSms";
                        }else {
                            alert("用户名或密码错误");
                        }
                    },error: function () {
                        alertLayer("获取数据失败", "error");
                    }
                });
            }

        }

        function MyAlert(s) {
            var div = document.getElementById('divAlert');
            if (!div) {
                div = document.createElement('div');
                div.id = 'divAlert';
                div.style.cssText = 'background:#fff;border:solid 1px #999;color:red;position:fixed;left:50%;top:50%;width:300px;height:200px;overflow:auto;margin-left:-150px;margin-top:-100px';
                document.body.appendChild(div);
            }
            div.innerHTML = s+'<br/><input type="button"  value="确定" onclick="this.parentNode.style.display=\'none\'">';
        }
    </script>
</body>
</html>
