<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="/css/regist.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <article>
            <h1><span>合作短信平台</span></h1>
            <div class="main">
                <form>
                    <div class="tel">
                        <input type="tel" id="csPhone" name="csPhone" placeholder="手机号"><em>由11个字符组成！</em>
                    </div>
                    <div class="userName">
                        <input type="text" id="csName" name="csName" placeholder="用户昵称"><em>由5-8个字符组成！</em>
                    </div>
                    <div class="password">
                        <input type="password" id="csPwd" name="csPwd" placeholder="密码"><em>使用字母、数字、符号两种及以上的组合，8-12个字符</em>
                    </div>
                    <div class="againpwd">
                        <input type="password" name="csPwd" placeholder="再次输入密码"><em>两次密码不一致</em>
                    </div>
                    <button type="button" onclick="regist()">注册</button>
                </form>
            </div>
        </article>
    </div>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript">
        function regist() {
            var csPhone = $("#csPhone").val();
            var csName = $("#csName").val();
            var csPwd = $("#csPwd").val();
            if (csPhone.length < 1||csName.length < 1||csPwd.length < 1){
                alert("手机号、用户名和密码不能为空");
            }else {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/csUser/insertCsUser',
                    contentType: "application/json",
                    data: JSON.stringify({
                        "csPhone": csPhone,
                        "csName": csName,
                        "csPwd": csPwd
                    }),
                    success: function (result) {
                        console.log("result is :" + result);
                        if (result.data == 1) {
                            alert("注册成功");
                            window.location.href = "/csSkip/toLogin";
                        } else {
                            alert("注册失败");
                        }
                    }, error: function () {
                        alert("获取数据失败", "error");
                    }
                });
            }
        }
    </script>
</body>
</html>
