<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>发送短信页面</title>
    <link rel="stylesheet" type="text/css" href="../css/regist.css">
</head>
<body>
<div class="wrapper">
    <article>
        <h1><span>合作短信平台</span></h1>
        <div class="main">
            <form>
                <div class="tel">
                    <select id="templateCode" name="templateCode" style="width: 292px;height: 36px"></select><em>请选择要发送的模板ID！</em>
                </div>
                <div class="tel" id="affirmSealDiv"> </div>
                <div class="tel">
                    <input type="tel" id="csPhone" name="csPhone" placeholder="手机号"><em>发送的手机号，由11个字符组成！</em>
                </div>
                <div class="userName">
                    <input type="text" id="csName" name="csName" placeholder="用户名"><em>发送的用户名，由5-8个字符组成！</em>
                </div>
                <button type="button" onclick="sendSms()">发送</button>
                <div class="userName">
                    <p class="regist"><a href="/csSkip/toExcelPoi">批量发送</a><em>批量发送入口</em></p>
                </div>
            </form>
        </div>
    </article>
</div>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript">
    //初始化页面
    $(document).ready(function () {
        $.ajax({
            url: '/csSms/selectCsTemplateCodeAll',
            type: 'get',
            contentType: "application/json",
            success: function (result) {
                if (result.data != null) {
                    var convertLists = result.data;
                    $("#templateCode").prepend("<option value='0'>请选择</option>");//添加第一个option值
                    $.each(convertLists, function (i, item) {
                        $("#templateCode").append("<option value=" + item.templateCode + ">" + item.templateCode + "</option>");
                    });
                }
            }, error: function () {
                alert("获取数据失败", "error");
            }
        });
    });
    function sendSms() {
        var templateCode = $("#templateCode").val();
        var csName = $("#csName").val();
        var csPhone = $("#csPhone").val();
        if (templateCode.length < 1||csName.length < 1||csPhone.length < 1){
            alert("发送模板、手机号和用户名不能为空");
        }else{
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/csSms/sms',
                contentType: "application/json",
                data:JSON.stringify({
                    "templateCode" : templateCode,
                    "csName" : csName,
                    "csPhone" : csPhone
                }),
                success:function (result) {
                    console.log("result is :" + result);
                    if (result.data==1) {
                        alert("发送成功");
                        window.location.reload();
                        // $("#csPhone").val("").focus();
                        // $("#csName").val("");
                    }else {
                        alert("余额不足，请及时充值");
                    }
                }, error: function () {
                    alert("获取数据失败", "error");
                }
            });
        }

    }

</script>
</body>
</html>
